# ======================================================
# CREDENCIALES Y CONFIGURACIÓN SENSIBLE
# ======================================================
.env
*.env
.env.local
.env.production

# ======================================================
# ENTORNO VIRTUAL PYTHON
# ======================================================
venv/
.venv/
env/
ENV/

# ======================================================
# PYTHON — CACHÉ Y COMPILADOS
# ======================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# ======================================================
# PYINSTALLER 
# ======================================================
*.spec
build/
dist/
*.exe

# ======================================================
# ARCHIVOS en Excel de facturas, reportes, errores
# ======================================================
data/
docs/
test/
htmlcov/
.coverage
*.ico
# ======================================================
# BASE DE DATOS LOCAL / SUPABASE
# ======================================================
*.sqlite
*.db
Supabase.txt

# ======================================================
# IDEs Y EDITORES
# ======================================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iss
# ======================================================
# SISTEMA OPERATIVO
# ======================================================
.DS_Store
Thumbs.db
desktop.ini

# ======================================================
# LOGS
# ======================================================
*.log
logs/

# Local IA assets for installer
installer_assets/

# Output for installer
Output/

# Inno Setup Compiler
ISCC.exe
